*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;

}
section {
    
    padding: 20px;
    min-height: auto;
   
}
.home{
    text-align: center;
}section.home{
    
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/y0AE_bg-grid.svg);
    background-repeat: repeat;
    content: "";
    height: 100%;
      width: 100%;
      filter: invert(1);

}
h3.h3til {
    font-size: 5.0rem;
    letter-spacing: 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Agregar una sombra de texto */
    padding-bottom: 2.5rem;
}
p.parrafo {
    font-size: 1.3rem;
    letter-spacing: 1.6px;
    color: white; /* Cambiar el color del texto a blanco */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Agregar una sombra de texto */
}
.containerhome {
    display: grid;
    gap: 20px;
    grid-template: 
      "home" 600px
      "cardd" 300px
      "footer" 100px
    ;
  }

  .home {
    grid-area: home;
  }

  .cardd {
   
    grid-area: cardd;
  }

  .footer {
    background-color: brown;
    grid-area: footer;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card1,
  .card2 {
    width: calc(50% - 10px); /* Calc con 10px para el gap */
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .card-container {
      justify-content: flex-start;
    }
    h3.h3til {
        font-size: 5.0rem;
        letter-spacing: 10px;
  
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding-bottom: 2.5rem;
    }
  }