*{
    margin: 0;
    box-sizing: border-box;
}
header.hero {
    box-shadow: 2px 6px 20px -13px rgba(51,51,51,0.74);
}
body{
    font-family: "Roboto", sans-serif;
}
.hero{
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}
.nav{
    --state-close:scale(0);
    --state-hamburguer:scale(1);
    --state-menu:translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}
img.nav_icon {
    width: 24px;
    background: white;
}

.nav_logo{
    font-size: 2.5rem;
    color: black;
    z-index: 1;
}
.nav_links{
    z-index: 2;
    background-color:#000 ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content:center ;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .3s transform;
}
.nav_hamburguer,
.nav_close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}
.nav_icon{
    width: 40px;
}
.nav_hamburguer{
    transform: var(--state-hamburguer);
}
.nav_close{
    z-index: 2;
    transform: var(--state-close);
}
.nav:target{
    --state-menu:translate(0);
    --state-close:scale(1);
    --state-hamburguer:scale(0);
}
.nav_item{
    list-style: none;
}
.nav_link{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media(min-width:768px){

    .nav{
        --state-hamburguer:scale(0);
        --state-menu:translate(0);
    } 
    .nav:target{
        --state-close:scale(0);
    }
    .nav_links{
        z-index: 2;
        padding:0 ;
        background-color:unset ;
        position: unset;
        grid-auto-flow:column;
        gap: 1.5em;
        transform: unset;
        grid-column: -2/-1;
        grid-row:1/2;
    }
    .nav_link{
        font-size: 1rem;
        letter-spacing: none;
        color: #000;
        
    }
    .nav_logo{
        font-size: 2.5rem;
        color: black;
        z-index: 1;
    }


}